<div id="map" style="height:400px;width:600px;"></div>
<script>
  var NPMap = {
    div: 'map',
    hooks: {
      init: function() {
        var overlay = L.npmap.layer.geojson({
          data: {{{geojson}}}
        }).addTo(NPMap.config.L);

        NPMap.config.L.fitBounds(overlay.getBounds());
      }
    }
  };
</script>
